<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I am a passionately curious individual with experience in more than 4 years of
            experience backend development, deployment operations, and also a novice technical writer.

            </p>
        <p>
            Previously, I have worked for Indian Space Research Organization (ISRO), as a Software Developer and worked closely with the teams of launch vehicle for satellites.
            I like to work in diverse teams and I am good at understanding requirements from different domains and get the best optimal tech solutions for the same.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
                    Worked on batching service which aimed at delivering right
                    coupon to the right customer on right time, it impacted to a growth of 6% of completed transactions.
    			</li>
          <li>
              Worked on the re-architecture of the primary transaction service
              layer, Improved the transaction completion rate by 20% as error messages were floated with customized
              & relevant information for booking
          </li>
                <li>
            Removed more than fifteen thousand lines of code, by refactoring the code base.
                </li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
